* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    color: black;
    padding: 25px 0 0 10px;
    text-align: left;
}


/* nav stuff starts here */

/* small screens */

@media only screen and (max-width: 600px)  {
    
    nav ul {
        margin: 0;
        padding: 0% 2vw;
        list-style-type: none;
    }

    nav a {
        display: block;
        padding: .9rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #263441;
        border-radius: 1rem;
    }

    nav .active a {
        background-color: #A0FFF4;
        color: #263441;
    }
    
} 
  /* end of the media query */ 


/* big screens */

 @media only screen and (min-width: 601px)  {
    nav {
        background-color: #A0FFF4;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0 3vw;
        margin: 0;
        display: flex;
    }
    
    nav a {
        font: 3rem;
        text-decoration: none;
        color: #263441;
        font-weight: 700;
        display: block;
        padding: .8rem 2rem;
    }
    
    nav li.active a {
        background-color: #263441;
        color: #A0FFF4;
    }
    
    nav a:hover {
        color: white;
    }
        
    
} 
    
    /* end of the media query   */  



main  {
    background-color: thistle;
    padding: 5px 10px 15px 10px;
}

/* projects page */

section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
}

figure {
    padding: 15px 15px 0 15px;
}



/* contact me */


.contactsection {
    padding: 50px 0 40px 0;
}


#contactus {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#photoOnContact {
    float: right;
    background-color: thistle;
}

#text {
    padding: 25px 0 50px 0;
}

/* footer stuff */

#contactuslink {
    text-align: center;
}